.navBar {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 25%;
    justify-content: center;
    background-color: #222629;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.navBar div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.navBar h2{
    color: #ebf0f0;
    position: relative;
    bottom: 100px;
}
.navLinkWrapper:hover{
    background-color: black;
    color:#e27689;
}
.navLinkWrapper a:hover{
    color:white;
}

.navBar .navLinkWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navBar a {
    border-bottom: none;
    text-decoration: none;
    color: darkslategrey;
    margin: 25px 0 25px 0;
    padding: 25px;
}

.fas {
    position: relative;
    top: 54px;
}