.navBarWrapper {
    width: 25%;

    .navBar {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        justify-content: center;
        background-color: #222629;
        height: 100vh;
        font-family: 'Roboto', sans-serif;
        @media @mobile {
            display: none;
        }
        div {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
        }
        h2 {
            color: #ebf0f0;
            position: relative;
            bottom: 35px;
            font-size: 1.5vw;
        }
        .navLinkWrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            &:hover {
                background-color: black;
                color: #e27689;
            }
        }
        a {
            border-bottom: none;
            text-decoration: none;
            color: darkslategrey;
            margin: 25px 0 25px 0;
            padding: 25px;
            &:hover {
                color: white;
            }
        }
    }
    .menuIcon {
        position: relative;
        top: 54px;
    }

    .barsButton{
        display: none;

        .fa-bars{
            color:#ebf0f0;
            margin: auto;
        }

        @media @mobile{
            display: inline-block;
            background-color: #222629;
            z-index: 1000;
            border: none;
            border-radius: 5px;
            width: 25%;
            margin: 25px;
           
        }
    }
}